{% comment %}
    Renders a menu

    Accepts:
    - menu: {Object} Menu Liquid object

    Usage:
    {% render 'menu', menu: section.settings.menu %}
{% endcomment %}

{%- if menu != blank -%}
<nav>
  <ul>
    {%- for link in menu.links -%}
    <li{% if link.current %} class="current"{% endif %}>
      <a href="{{ link.url }}"><span>{{ link.title | escape }}</span></a>
      {%- if link.links != blank -%}
      {% render 'menu', menu: link %}
      {%- endif -%}
    </li>
    {%- endfor -%}
  </ul>
</nav>
{%- endif -%}