{% comment %}
  Renders product rating

  Accepts:
  - product: {Object} Product Liquid object (optional)

  Usage:
  {% render 'product-rating', product: product %}
{% endcomment %}

{%- if product.metafields.reviews.rating.value != blank -%}
{% liquid
  assign rating_decimal = 0 
  assign decimal = product.metafields.reviews.rating.value.rating | modulo: 1 
  if decimal >= 0.3 and decimal <= 0.7
  	assign rating_decimal = 0.5
  elsif decimal > 0.7
  	assign rating_decimal = 1
  endif 
%}
<div class="rating">
  <span></span>
</div>
<p class="rating-text">
  <span>{{ product.metafields.reviews.rating.value }} / {{ product.metafields.reviews.rating.value.scale_max }}</span>
</p>
<p class="rating-count">
  <span>{{ product.metafields.reviews.rating_count }} {{ "accessibility.total_reviews" | t }}</span>
</p>
{%- endif -%}