<form action="{{ routes.search_url }}" method="get">
  <input type="hidden" name="options[prefix]" value="last"/>
  <input type="text" name="q" placeholder="{{ 'general.search.search' | t }}" />
  <button type="submit"><span>Search</span></button>
</form>