<!doctype html>
<html class="no-js" lang="{{ request.locale.iso_code }}">
  <head>
	{% section 'head' %}
    {{ content_for_header }}
  </head>

  <body>
    {% section 'announcement-bar' %}

    {% section 'header' %}

    <main tabindex="-1">
      {{ content_for_layout }}
    </main>

    {% section 'footer' %}
  </body>
</html>
