{%- liquid
  assign products_to_display = section.settings.collection.all_products_count

  if section.settings.collection.all_products_count > section.settings.products_to_show
    assign products_to_display = section.settings.products_to_show
    assign more_in_collection = true
  endif
-%}
<div class="title">
  <h2>{{ section.settings.title | escape }}</h2>

  {%- if section.settings.show_view_all and more_in_collection -%}
  <div class="view-all">[ <a href="{{ section.settings.collection.url }}">{{ 'sections.settings.view_all_label' | t }}</a> ]</div>
  {%- endif -%}
</div>
<div class="product-grid">
  {%- for product in section.settings.collection.products limit: section.settings.products_to_show -%}
  <div class="item">
    {% render 'product-card',
            product: product,
    show_rating: section.settings.show_rating,
    show_vendor: false
    %}
  </div>
  {%- endfor -%}
</div>

{% schema %}
{
  "name": "t:sections.featured-products.name",
  "tag": "section",
  "class": "featured-products",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "t:sections.featured-products.settings.title.label",
      "default": "Featured Collection"
    },
    {
      "type": "text",
      "id": "view_all_label",
      "label": "t:sections.featured-products.settings.view_all_label.label",
      "default": "View All"
    },
    {
      "type": "collection",
      "id": "collection",
      "label": "t:sections.featured-products.settings.collection.label"
    },
    {
      "type": "range",
      "id": "products_to_show",
      "min": 2,
      "max": 12,
      "step": 2,
      "default": 4,
      "label": "t:sections.featured-products.settings.products_to_show.label"
    },
    {
      "type": "checkbox",
      "id": "show_view_all",
      "default": true,
      "label": "t:sections.featured-products.settings.show_view_all.label"
    },
    {
      "type": "header",
      "content": "t:sections.featured-products.settings.header.content"
    },
    {
      "type": "checkbox",
      "id": "show_rating",
      "default": false,
      "label": "t:sections.featured-products.settings.show_rating.label",
      "info": "t:sections.featured-products.settings.show_rating.info"
    }
  ],
  "presets": [
    {
      "name": "t:sections.featured-products.presets.name"
    }
  ]
}
{% endschema %}
