<div class="menu">
  {% render 'menu', menu: section.settings.menu %}
</div>

<div class="newsletter">
  {% render 'newsletter', placeholder: section.settings.newsletter_placeholder %}
</div>

<div class="copyright">
  <small>&copy; {{ 'now' | date: "%Y" }} {{ shop.name | link_to: routes.root_url }}</small>
</div>

{% schema %}
{
  "name": "t:sections.footer.name",
  "tag": "footer",
  "settings": [
    {
      "type": "link_list",
      "id": "menu",
      "label": "t:sections.footer.settings.menu.label",
      "default": "footer"
    },
    {
      "type": "header",
      "content": "t:sections.footer.settings.header.content"
    },
    {
      "type": "text",
      "id": "newsletter_placeholder",
      "label": "t:sections.footer.settings.newsletter_placeholder.label",
      "default": "Subscribe Email"
    }
  ]
}
{% endschema %}