<div class="menu">
  {% render 'menu', menu: section.settings.menu %}
</div>

<div class="newsletter">
  {% render 'newsletter' %}
</div>

<div class="copyright">
  <small>&copy; {{ 'now' | date: "%Y" }}, {{ shop.name | link_to: routes.root_url }}</small>
</div>

{% schema %}
{
  "name": "t:sections.footer.name",
  "tag": "footer",
  "settings": [
    {
      "type": "link_list",
      "id": "menu",
      "label": "t:sections.footer.settings.menu.label",
      "default": "footer"
    }
  ]
}
{% endschema %}