<div class="logo">
  {%- if section.settings.logo != blank -%}
    <img src="{{ section.settings.logo | img_url: image_size }}"
         alt="{{ section.settings.logo.alt | default: shop.name | escape }}"/>
  {%- endif -%}
</div>
<div class="menu">
  {% render "menu" %}
</div>

{% schema %}
{
  "name": "t:sections.header.name",
  "tag": "section",
  "settings": [
    {
      "type": "image_picker",
      "id": "logo",
      "label": "t:sections.header.settings.logo.label"
    },
    {
      "type": "text",
      "id": "menu",
      "label": "t:sections.header.settings.menu.label"
    }
  ]
}
{% endschema %}