<div class="logo">
  {%- if section.settings.logo != blank -%}
  <img src="{{ section.settings.logo | img_url: image_size }}"
       alt="{{ section.settings.logo.alt | default: shop.name | escape }}"/>
  {%- else -%}
  {{ shop.name | link_to: routes.root_url }}
  {%- endif -%}
</div>

<div class="menu">
  {% render 'menu', menu: section.settings.menu %}
</div>

<div class="search">
  {% render 'search-box' %}
</div>

{% schema %}
{
  "name": "t:sections.header.name",
  "tag": "header",
  "settings": [
    {
      "type": "image_picker",
      "id": "logo",
      "label": "t:sections.header.settings.logo.label"
    },
    {
      "type": "link_list",
      "id": "menu",
      "label": "t:sections.header.settings.menu.label",
      "default": "main-menu"
    }
  ]
}
{% endschema %}