<h1 class="page-title">{{ page.title | escape }}</h1>
<div class="page-content">
    {{ page.content }}
</div>

{% schema %}
{
"name": "t:sections.main-page.name",
"tag": "section",
"class": "spaced-section"
}
{% endschema %}
