/**
 * Global
 */

* {
  box-sizing: border-box;
  margin: 0;
  outline: none;
  padding: 0;
}

body {
  color: #545454;
  font: 14px/24px Assistant, sans-serif;
}

a {
  color: #1E88E5;
  text-decoration: none;
}

a:hover {
  color: #545454;
}

input[type="email"],
input[type="text"] {
  border: 1px solid #efefef;
  border-radius: 3px;
  height: 36px;
  padding: 6px 12px;
}


/**
 * Header
 */

header {
  display: grid;
  align-items: center;
  grid-template-columns: auto auto auto;
  padding: 10px;
}

header.fixed {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
}

header > .menu ul {
  display: flex;
  list-style: none none;
}

header > .menu a {
  display: block;
  text-decoration: none;
}

header > .menu a span {
  display: block;
  padding: 5px 10px;
}

header > .menu a:hover {
}

header > .search {
  justify-self: end;
}


/**
 * Main
 */

main {
}


/**
 * Footer
 */

footer {
}


/**
 * Customer
 */


/**
 * Product
 */

.product-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0 10px;
}

.product-grid .item {
  flex: 0 0 calc(25% - 10px);
}

.product-card .image img {
  width: 100%;
}
