/**
 * Global
 */

@font-face {
  font-family: Awesome;
  font-style: normal;
  font-weight: 300;
  src: url('fa-light-300.woff2') format('woff2');
}

@font-face {
  font-family: Awesome;
  font-style: normal;
  font-weight: normal;
  src: url('fa-regular-400.woff2') format('woff2');
}

@font-face {
  font-family: Awesome;
  font-style: normal;
  font-weight: bold;
  src: url('fa-solid-900.woff2') format('woff2');
}

* {
  box-sizing: border-box;
  margin: 0;
  outline: none;
  padding: 0;
}

body {
  color: #545454;
  font: 14px/24px Assistant, sans-serif;
}

a {
  color: #1E88E5;
  text-decoration: none;
}

a:hover {
  color: #545454;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 500;
}

input[type="email"],
input[type="password"],
input[type="text"] {
  border: 1px solid #e0e0e0;
  border-radius: 3px;
  font: 14px/24px Assistant, sans-serif;
  height: 36px;
  padding: 6px 12px;
}

input[type="email"]:focus,
input[type="password"]:focus,
input[type="text"]:focus {
  border: 1px solid #545454;
}

button {
  background: #efefef;
  border: 1px solid #e0e0e0;
  border-radius: 3px;
  cursor: pointer;
  font: 14px/24px Assistant, sans-serif;
  padding: 5px 16px;
}


/**
 * Header
 */

header {
  display: grid;
  align-items: center;
  grid-template-columns: 300px auto 250px;
  padding: 10px 20px;
  height: 80px;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 3;
}

header.fixed {
  background: rgba(255, 255, 255, .9);
  box-shadow: 0 0 5px #999;
}

header > .logo a {
  color: #545454;
  font-size: 24px;
}

header > .menu ul {
  display: flex;
  list-style: none none;
}

header > .menu li {
  margin: 0 20px 0 0;
}

header > .menu a {
  color: #999;
  display: block;
  text-decoration: none;
}

header > .menu a:hover,
header > .menu .current > a {
  color: #000;
}

header > .menu a span {
  display: block;
  padding: 5px 10px;
}

header > .search {
  justify-self: end;
}


/**
 * Main
 */

main {
  padding: 80px 0;
  position: relative;
  z-index: 2;
}


/**
 * Footer
 */

footer {
  background: #efefef;
  display: grid;
  grid-template-columns: auto auto;
  padding: 30px 20px 20px;
  position: relative;
  z-index: 1;
}

footer > .menu ul {
  display: flex;
  list-style: none none;
}

footer > .menu a {
  color: #545454;
}

footer > .menu a:hover {
  color: #000;
}

footer > .newsletter {
  justify-self: end;
}

footer > .copyright {
  font-size: 12px;
  margin-top: 50px;
}

footer > .copyright a {
  color: #545454;
}

footer > .copyright a:hover {
  color: #000;
}


/**
 * Search Box
 */

.search-box {
  background: #fff;
  border: 1px solid #e0e0e0;
  border-radius: 3px;
  display: flex;
}

.search-box button,
.search-box input,
.search-box input:focus {
  background: none;
  border: 0;
}

.search-box button span {
  display: block;
}

.search-box button span:before {
  font-family: Awesome;
  font-size: 16px;
  font-weight: 300;
  content: '\f002';
}


/**
 * Newsletter Box
 */

.newsletter-box {
  background: #fff;
  border: 1px solid #e0e0e0;
  border-radius: 3px;
  display: flex;
}

.newsletter-box button,
.newsletter-box input,
.newsletter-box input:focus {
  background: none;
  border: 0;
}

.newsletter-box button span {
  display: block;
}

.newsletter-box button span:before {
  font-family: Awesome;
  font-size: 16px;
  font-weight: 300;
  content: '\f0e0';
}


/**
 * Featured Products
 */

.featured-products .title {
  margin-bottom: 15px;
  text-align: center;
}

.featured-products .title h2 {
  font-size: 24px;
}

.featured-products .title .view-all {
  margin-top: 10px;
}


/**
 * Carousel
 */

.carousel .item {
  position: relative;
}

.carousel .item .image {
  position: relative;
  z-index: 1;
}

.carousel .item .image a {
  display: block;
}

.carousel .item .image img {
  display: block;
}

.carousel .item .title {
  position: absolute;
  font-size: 24px;
  left: 100px;
  top: 50px;
  z-index: 2;
}

.carousel .item .content {
  position: absolute;
  left: 100px;
  top: 150px;
  z-index: 2;
}


/**
 * Product
 */

.product-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0 20px;
}

.product-grid .item {
  flex: 0 0 calc(25% - 20px);
}

.product-card .image a {
  display: block;
}

.product-card .image img {
  display: block;
  width: 100%;
}
