* {
  margin: 0;
  outline: none;
  padding: 0;
}

body {
  color: #545454;
  font: 14px/24px Assistant, sans-serif;
}

a {
  color: #1E88E5;
  text-decoration: none;
}

a:hover {
  text-decoration: under-line;
}


/**
 * Header
 */

header {
  display: grid;
  align-items: center;
  grid-template-columns: auto auto auto;
}

header > .menu ul {
  display: flex;
  list-style: none none;
}

header > .menu a {
  display: block;
}

header > .menu a span {
  display: block;
  padding: 5px 10px;
}

header > .search {
  justify-self: end;
}


/**
 * Footer
 */

footer {
}


/**
 * Customer
 */


/**
 * Product
 */
